<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Subspace!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  </head>
  <body>
    <div id='app'>
      <nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="#">
              <p>Subspace Client</p>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
          <div class="navbar-menu">
            <div class="navbar-start">
            </div>
            <div class="navbar-end">
              <a href="#" class="navbar-item" style='padding-right: 25px'>
                {{ node ? node.settings.contactInfo.nodeType : '' }}
                {{ node ? byteToHexString(node.settings.contactInfo.nodeId) : ''  }}
              </a>
            </div>
          </div>
      </nav>

      <div class="section" style='padding: 0rem'>
        <div class="container">
            <div class="buttons has-addons is-centered">
                <a class="button is-primary is-outlined" @click='startSingleNode()'>Start Single Node</a>
                <a class="button is-primary is-outlined" @click='joinLocalNetwork()'>Join Local Network</a>
                <a class="button is-primary is-outlined" @click='joinTestNetwork()'>Join Test Network</a>
                <a class="button is-primary is-outlined" @click='stopNode()'>Stop Node</a>
              </div>   
          <div class="tabs">
            <ul>
              <li v-bind:class="{ 'is-active': activeTab == 'subspace' }" @click="renderSubspaceTab()"><a>Subspace</a></li>
              <li v-bind:class="{ 'is-active': activeTab == 'network' }" @click="renderNetworkTab()"><a>Network</a></li>
              <li v-bind:class="{ 'is-active': activeTab == 'ledger' }" @click="renderLedgerTab()"><a>Ledger</a></li>
              <li v-bind:class="{ 'is-active': activeTab == 'farm' }" @click="activeTab = 'farm'"><a>Farm</a></li>
              <li v-bind:class="{ 'is-active': activeTab == 'wallet' }" @click="activeTab = 'wallet'"><a>Wallet</a></li>
              <li v-bind:class="{ 'is-active': activeTab == 'settings' }" @click="activeTab = 'settings'"><a>Settings</a></li>
            </ul>
          </div>
          <div class="content">
            <div v-if='activeTab === "subspace"'>
              <nav class="level">
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Peers</p>
                    <p class="title"> {{ node ? node.rpc.peers.size : 0 }}</p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Chains</p>
                    <p class="title"> {{ node ? node.ledger.chainCount : 0 }}</p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Blocks</p>
                    <p class="title"> {{ node ? node.ledger.confirmedBlocks : 0 }} </p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Txs</p>
                    <p class="title"> {{ node ? node.ledger.confirmedTxs : 0 }} </p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Levels</p>
                    <p class="title"> {{ node ? node.ledger.confirmedLevels : 0 }} </p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Pieces</p>
                    <p class="title"> {{ node && node.farm ? node.farm.pieceOffset : 0 }}</p>
                  </div>
                </div>
              </nav> 
              <div class="columns">
                <div class="column is-one-third">
                  Event Log
                  <div class="box" id='message-log' style='overflow-y:auto; height: 400px;'>
                     <span v-for='entry in log' v-bind:style='{color: entry.color}' style='font-size: 12px;'>
                         <i>{{ moment.unix(entry.timestamp / 1000).format("HH:mm:ss:SSS") }}</i>: Applied block <a @click='setActiveRecord(entry.key)'>{{ byteToHexString(entry.key) }}</a> <br>
                     </span>
                  </div>
                </div>
                <div class="column is-two-thirds">
                  Record Details
                  <div class="box">
                    <pre v-html='activeRecord' style='font-size:12px;'></pre>
                  </div>
                </div>
              </div>                   
            </div>
            <div v-if='activeTab === "network"'>
              <section class="stats">
                <nav class="level">
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">Contacts</p>
                        <p class="title"> {{ networkStats.contacts }} </p>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">Connections</p>
                        <p class="title"> {{ networkStats.connections }} </p>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">UDP</p>
                        <p class="title"> {{ networkStats.udp }} </p>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">TCP</p>
                        <p class="title"> {{ networkStats.tcp }} </p>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">WS</p>
                        <p class="title"> {{ networkStats.ws }} </p>
                      </div>
                    </div>
                  </nav>
              </section>
             
              <hr>
              <section class="routing-table">
                <br>
                <p class="title is-4">Peer Routing Table</p>
                <p class="subtitle is-6">Contact info for all known peers on the network -- not active connections.</p>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Peer</th>
                      <th>Node ID</th>
                      <th>Type</th>
                      <th>Address</th>
                      <th>UDP Port</th>
                      <th>TCP Port</th>
                      <th>WS Port</th>
                      <th>Last Contact</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(peer, index) in peers">
                      <td> {{ index + 1 }} </td>
                      <td> {{ byteToHexString(peer.nodeId) }} </td>
                      <td> {{ peer.nodeType }} </td>
                      <td> {{ peer.address }} </td>
                      <td> {{ peer.udp4port }} </td>
                      <td> {{ peer.tcp4port }} </td>
                      <td> {{ peer.wsPort }} </td>
                      <td></td>
                      <td> <a class="button is-small is-primary is-outlined"> Ping </a> </td>
                      <td> <a class="button is-small is-primary is-outlined"> Connect </a> </td>
                    </tr>
                  </tbody>
                </table>   
              </section>
              
            </div>
            <div v-else-if='activeTab === "ledger"'>
              <nav class="level">
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Chains</p>
                    <p class="title">1024</p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Blocks</p>
                    <p class="title">42k</p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Levels</p>
                      <p class="title">550</p>
                    </div>
                  </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Transactions</p>
                    <p class="title">75k</p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Credits</p>
                    <p class="title">42k</p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Accounts</p>
                    <p class="title">423</p>
                  </div>
                </div>
              </nav>
              <canvas id='myChart' width='100' max-height='100'></canvas>
            </div>
            <div v-else-if='activeTab === "farm"'>
                <nav class="level">
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Chains</p>
                      <p class="title">1024</p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Blocks</p>
                      <p class="title">42k</p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">Levels</p>
                        <p class="title">550</p>
                      </div>
                    </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Transactions</p>
                      <p class="title">75k</p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Credits</p>
                      <p class="title">42k</p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Accounts</p>
                      <p class="title">423</p>
                    </div>
                  </div>
                </nav>
              </div>
            <div v-else-if='activeTab === "wallet"'>
              Wallet Content
            </div>
            <div v-else-if='activeTab === "settings"'>
              <div class="columns">
                <div class="column">
                  <div class="field">
                    <label class="label">Network</label>
                    <div class="control">
                      <div class="select">
                        <select disabled>
                          <option value="dev">Dev</option>
                          <option value="test">Test</option>
                          <option value="main" disabled>Main</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Node Type</label>
                    <div class="control">
                      <div class="select">
                        <select v-model='nodeType'>
                          <option value="full">Full</option>
                          <option value="farmer">Farmer</option>
                          <option value="validator">Validator</option>
                          <option value="client" disabled>Light Client</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Farm Mode</label>
                    <div class="control">
                      <div class="select">
                        <select disabled>
                          <option value="memory">Memory</option>
                          <option value="disk">Disk</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Chain Count</label>
                    <div class="control">
                      <input v-model='chainCount' type="number" class="input" placeholder="Integer between 1 and 1024">
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Number of Plots</label>
                    <div class="control">
                      <input v-model='numberOfPlots' type="number" class="input" placeholder="Integer between 1 and 1024">
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Size of Farm (bytes)</label>
                    <div class="control">
                      <input type="number" class="input" placeholder="Integer between 1 and 1024^4" disabled>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Encoding Rounds</label>
                    <div class="control">
                      <input v-model='encodingRounds' type="number" class="input" placeholder="Integer between 1 and 512">
                    </div>
                  </div> 
                  <div class="field">
                    <label class="label">Delay (ms)</label>
                    <div class="control">
                      <input v-model='delay' type="number" class="input" placeholder="Integer between 1 and 10000">
                    </div>
                  </div>
                  <div class="field">
                    <div class="control">
                      <label class="checkbox">
                        <input type="checkbox" disabled>
                        From Genesis
                      </label>
                    </div>
                  </div> 
                  <div class="field">
                    <div class="control">
                      <label class="checkbox">
                        <input type="checkbox" disabled>
                        Reset State
                      </label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="control">
                      <label class="checkbox">
                        <input type="checkbox" disabled>
                        Trust Records
                      </label>
                    </div>
                  </div>
                  
                </div>
                <div class="column"></div>
                <div class="column"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
<script src="./build/bundle.js"></script>
<script type='text/javascript'>

  var app = new Vue({
    el: '#app',
    data: {
      activeTab: '',
      createNode: null,
      node: null,
      nodeType: 'full',
      chainCount: 16,
      numberOfPlots: 1,
      encodingRounds: 3,
      delay: 1000,
      peers: [],
      networkStats: {
        contacts: 0,
        connections: 0,
        udp: 0,
        tcp: 0,
        ws: 0,
      },
      totalBlockCountByChain: [],
      log: [],
      activeRecordKey: null,
      activeRecord: null,
    },
    methods: {
      renderSubspaceTab() {
        this.activeTab = 'subspace';
        Vue.nextTick(() => {
          const div = document.getElementById('message-log');
          
          function scrollToBottom() {
            div.scrollTop = div.scrollHeight;
          }
          const observer = new MutationObserver(scrollToBottom);
          const config = {childList: true};
          observer.observe(div, config);
        })
      },
      renderNetworkTab() {
        this.activeTab = 'network';
        if (this.node) {
          this.peers = [...this.node.rpc.peers.values()];
          this.networkStats.contacts = this.peers.length;
          this.networkStats.connections = this.peers.length;
          this.networkStats.udp = 0;
          this.networkStats.tcp = 0;
          this.networkStats.ws = this.peers.length;
        }
      },
      renderLedgerTab() {
        this.activeTab = 'ledger';
        if (this.node) {
          this.totalBlockCountByChain = this.node.ledger.totalBlockCountByChain;
        }
        Vue.nextTick(() => {
          var ctx = document.getElementById('myChart').getContext('2d');
         const defaultColor = 'rgba(153, 230, 218, .5)'
         const colors = []
         for (let i = 0; i < this.totalBlockCountByChain.length; ++i) {
           colors.push(defaultColor);
         }
          var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
              labels: [...Array(this.totalBlockCountByChain.length).keys()],
              datasets: [{
                label: 'Block Count By Chain',
                data: this.totalBlockCountByChain,
                backgroundColor: colors,
                // borderColor: colors,
                borderWidth: 1,
              }]
            },
            options: {
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
              }
            }
          })
          setInterval(() => {
            myChart.update();
          }, 100)
        });
      },
      getContacts() {
        if (this.node) {
          return this.node.rpc.getPeers();
        }
      },
      byteToHexString(uint8arr) {
        if (!uint8arr) {
          return '';
        }
        
        var hexStr = '';
        for (var i = 0; i < uint8arr.length; i++) {
          var hex = (uint8arr[i] & 0xff).toString(16);
          hex = (hex.length === 1) ? '0' + hex : hex;
          hexStr += hex;
        }
        
        return hexStr.substring(0, 12);
      },
      registerEventListeners() {
        this.node.on('applied-block', (block) => {
          
          const key = block.key;
          const timestamp = block.value.coinbase.value.timestamp;
          const color = 'green';

          const entry = {
            key,
            timestamp,
            color,
          }

          this.log.push(entry);
        })
      },
      async setActiveRecord(activeRecordKey) {
        this.activeRecordKey = activeRecordKey;
        const record = await this.node.ledger.getFullBlock(activeRecordKey, false);
        if (record) {
          this.activeRecord = record.print();
        }
      },
      async startSingleNode() {
        this.node = await this.createNode(
          'dev',
          'full',
          'disk',
          undefined,
          this.chainCount,
          this.numberOfPlots,
          10000000,
          this.encodingRounds,
          this.delay,
          true,
          true,
          true,
          undefined,
          [],
        )
        this.registerEventListeners();
      },
      async joinLocalNetwork() {
        this.node = await this.createNode(
          'dev',
          this.nodeType,
          'memory',
          undefined,
          this.chainCount,
          this.numberOfPlots,
          0,
          this.encodingRounds,
          this.delay,
          false,
          true,
          false,
          undefined,
          [],
        )
      },
      async joinTestNetwork() {
        this.node = await this.createNode(
          'test',
          this.nodeType,
          'memory',
          undefined,
          this.chainCount,
          this.numberOfPlots,
          0,
          this.encodingRounds,
          this.delay,
          false,
          true,
          false,
          undefined,
          [],
        )
      },
      async stopNode() {
        this.node.config.farm = false;
        await this.node.destroy();
        this.node = null;
        this.log = [];
        this.activeRecordKey = null;
        this.activeRecord = null;
      },
    },
   
    async mounted() {
      this.createNode = await Subspace;
      this.renderSubspaceTab();
    }
  })

  // Stats for Browser GUI
  // Subspace Tab
    // Number of full-nodes on the network (from DHT)
    // Size of the Ledger (from Ledger)
    // Total Number of Pieces
    // Size of all Space Pledged (from work difficulty)
    // Replication Factor (times the ledger is copied)
  // Node Tab (Aggregate Stats)
    // Space Pledged
    // Credits
  // Network Tab
    // Number of active connections
    // Number of contacts
    // DHT Size
    // Peer graph (and their peers)
    // Peer map (geo-ip)
    // My network info
    // sub nets (red/green)
      // relay network status -- gossip rate & active connections by type
      // srpc network status -- number of connections
      // krpc network status -- known peers
      // jrpc network status -- number of clients
  // Ledger Tab
    // Ledger visuals as throughput dashboard
      // Tx throughput
      // Block throughput
      // Block confirmation time
      // Level confirmation time
      // Piece confirmation time
    // Visuals as block explorer (record search with last confirmed)
    // Visuals like Bitcoin Visuals
    // Number of chains
    // Number of confirmed/pending blocks
    // Number of confirmed/pending txs
    // Number of confirmed levels
    // Number of encoded state blocks
    // Total number of credits
    // Total size of the ledger
  // Farm Tab
    // type of plot
    // number of plots
    // size of my plots
    // plotting progress
    // number of pieces
    // % of the ledger
    // % of all space pledged
    // win-rate vs target
    // credits earned
    // per
  // Wallet Tab
    // different accounts
    // pending/confirmed balance
    // pending/confirmed txs (credits and debits)
    // send/receive funds
    // extract keys
</script>



<style type='css'>
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
      opacity: 0;
    }
</style>